// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F2EFEA;
$words: #F67550;
$words-ligth: #ffc37c;
$verbs-bg: #2096F3;
$adjectives-bg: #FFE74C;
$adjectives-bg-ligth: #f9f0bd;
$names-bg: #D84797;
$names-bg-ligth: #fcdeee;
$adverbs-bg:#00B9AE;
$expressions-bg: #5E34B1;
$expressions-bg-ligth: #e1d4fc;
